:root{
    --background-color: #FFF5F0;
    --main-text-color: #333;
    --header-color: #1a1a1a;
    --icon-color: #262626;
    --logo-color: #FF8D4D;
    --container-background: white;
    --active-page-color: #FFEFE5;
    --icon-background: #FFDECC;
    --orange-75: #FFAE80;
}